* {
    box-sizing: border-box;
  }
  
  #root{
      width: 68%;
      text-align: center;

  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  
  .form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    height: 493px;
    overflow-y: auto;
    margin-left: 40%;
    margin-top: 5%;
  }
  
  .form-container.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .form-container.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .form-container.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .addIcon{
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    color: #a7a8aa;
    box-shadow: none;
    border: 1px solid #a7a8aa;
    margin-top: 10%;
  }

  .leftAllign{
      float: left;
  }
  .reqBody{
      background-color: lightgrey;
      float: right;
      margin-top: 25px;

  }
  .dispFlex{
      display: flex;
  }


  .disPercentage{
      margin-top: 2%;
  }

  .a div:nth-child(1n+3){
        margin-left: 25%;
  }