.charts-container{
    height: 600px;
    overflow-y: auto;
}

.first-section-container{
    display: flex;
    justify-content: space-between;
}

.second-section-container{
    display: flex;
    justify-content: center;
}